

.logo img {
    width: 164px;

}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.right ul {
    display: flex;
    gap: 34px;
}

.right ul li {
    list-style: none;
}

.first {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 70px 70px 0px 70px;
    gap: 24px;

}

.first span {
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 520;
}

.first p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    width: 550px;
}

.first button {
    background-color: #ffd741;
    font-family: Arial, Helvetica, sans-serif;
    padding: 14px;
    border: none;
    font-size: 14px;
    border-radius: 6px;
    margin-top: -4px;
}



.big {
    margin-left: 12px;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;

}

.small {
    font-size: medium;
    margin-left: 6px;
    font-family: Arial, Helvetica, sans-serif;
}

.downlode {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;

}

.item {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 24px;
    background-color: #f2f0ec;
    border-radius: 12px;

}

.item-3 {
    background-color: #ffd741;
    border: none;
    border-radius: 3px;
    padding: 8px 18px;

}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 80px;
}

.item-5 {
    font-size: xx-small;
}

.item-1 {
    padding: 10px;
    font-size: large;
    font-weight: 550;
}

.item-2 {
    padding-bottom: 10px;
    font-weight: 550;
}

.item-4 {
    padding: 5px;
    font-size: 0.6rem;
}

/* .third {
    background-color: #f2f0ec;
    width: 100%;
    height: 90vh;
    padding: 80px;
    align-content: end;
}

.black {
    height: 50vh;
    width: 88vw;
    border-radius: 12px;
    background-color: black;
} */